.impowerBox .qrcode {
  width: 120px;
  margin: 0 auto;
}
.impowerBox .title {
  display: none;
}
.impowerBox .info {
  width: 120px;
  margin: 0 auto;
}
.status_icon {
  display: none;
}
.impowerBox .status {
  text-align: center;
}
