@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'myFonts';
  src: url('/fonts/pfsgt.tff') format('truetype');
  font-family: normal;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scrollbar-color: #e8e8e8; /* 滑块颜色 轨道颜色 */
  scrollbar-width: thin; /* 滚动条宽度 */
  font-family: 'myFonts';
}
 
/* 修改特定容器的滚动条样式 */
.scrollbar-style {
  scrollbar-color: #e8e8e8;
  scrollbar-width: thin;
  scroll-behavior: smooth; /* 平滑滚动 */
}

.scrollbar-style::-webkit-scrollbar {
  width: 12px; /* 对于Google Chrome、Safari和新版的Firefox */
}
 
.scrollbar-style::-webkit-scrollbar-track {
  background: #2e2e2e; /* 对于Google Chrome、Safari和新版的Firefox */
}
 
.scrollbar-style::-webkit-scrollbar-thumb {
  background: #ff6347; /* 对于Google Chrome、Safari和新版的Firefox */
}
 
.scrollbar-style {
  scroll-behavior: smooth; /* 平滑滚动 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}